@media only screen and (max-width:998px){
    .kapp-slider{
        display:none;
    }
    .subject-btn{
        display: block;
    }
    .mu-appbar-header{
        left:0;
    }
    .k-app-view{
        padding-top:57px;
        .view-area{
            
        }
    }
}
@media only screen and(min-width:998px){
    .kapp-slider{
        display:block;
    }
    .subject-btn{
        display: none;
    }
    .mu-overlay{
        display:none;
    }
    
    .k-app-view{
        padding-top:64px;
        padding-left: 256px;
        .view-area{
            padding:15px 40px;
        }
    }
}